extends layout

block content
  h1= title
  p Sites hosted here:
  div
    table
      tr
        th(colspan="3") repo
        th(colspan="3") last commit
      tr
        th type
        th org
        th name
        th when
        th who
        th hash
      - for (let i = 0; i < sites.length; i++) {
        - const {type, org, repo, dateTime, who, hash} = sites[i];
        - const explore = siteRoot + type + '/' + org + '/' + repo;
        - const [date, time] = dateTime.toISOString().split('T');
        tr
          td #{type}
          td #{org}
          td #{repo}
          td #{date} #{time}
          td #{who}
          td #{hash.substring(0, 7)}
          td #[a(href="#{explore}") explore]
          td 🗑
      - }